@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
    color: white;
    margin: 0%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 16px;
    background: url(stars.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.spinner{
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
    height: 10em;
}

.hidden{
    display: none;
}

h1{
    font-size: 6em;
    margin-top: 1em;
}

h1 > a{
    text-decoration: none;
    color: #f9d71c;
}

h2{
    font-size: 4em;
    text-align: center;
    margin-top: 1em;
}

.movie-listings{
    margin-top: 3em;
}

div{
    padding: 1.5em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    max-width: 50em;
    justify-content: space-evenly;
    font-size: 1.25em;
}

.movie-listing{
    color: white;
}

.movie-listing > a{
    text-decoration: none;
    color: #f9d71c;
}